<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicTunes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A47D25FC1EFA66BA0068553B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A47D26151EFA66BA0068553B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A47D26201EFA66BA0068553B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A49C6A8F1F01308B00D0E98E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
